{% extends 'base.html' %}

{% block title %}Заказы клиентов{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">Заказы клиентов</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID Заказа</th>
                    <th>Дата заказа</th>
                    <th>Клиент</th>
                    <th>Контактное лицо</th>
                    <th>Телефон</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.order_date }}</td>
                        <td>{{ order.customer.company_name }}</td>
                        <td>{{ order.customer.contact_name }}</td>
                        <td>{{ order.customer.phone }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}



