{% extends "base.html" %}

{% block title %}Домашняя страница{% endblock %}

{% block content %}
    <div class="jumbotron d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h1 class="display-4">Добро пожаловать в систему приема заказов на изготовление рекламы</h1>
            <p class="lead">Вы можете управлять заказами, договорами и клиентами, а также добавлять новую информацию в систему.</p>
            <hr class="my-4">
            <p>Используйте навигационное меню для доступа к различным разделам сайта.</p>
        </div>
    </div>
{% endblock %}

